bokeh==2.0.2
certifi==2020.4.5.2
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
heroku3==4.2.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.15.1 
kiwisolver==1.2.0 
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.5
pandas==1.0.4  
Pillow==7.1.2
pip==20.0.2
python-dateutil==2.8.1
requests==2.23.0
scikit-learn==0.23.1    
scipy==1.4.1  
sklearn==0.0 
urllib3==1.25.9
Werkzeug==0.15.6
wheel==0.34.2 
