<html>

<head>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Help Page</title>
</head>

<body>
    <div class="container">
        <h1>Help Page</h1>
        <a href="{{url_for('home')}}">Home</a><br>
        <p>
            The sample dataset, preloaded into the tool, contains subway maps from different cities and data collected from several different users. You can use the tool by choosing a map, user, and method(s). Alternatively, you can
            upload your own data, which will change the map and user options.
        </p>
        <b>Stimulus</b>
        <p>The available stimuli used in the eye movement data.</p>
		
		<p> For the sample data from the course, the following snippets in the stimuli name indicate the following: </p>
        <ul class="collection">
            <li class="collection-item">Specifies whether the stimuli map is in color (01) or in grayscale (01b).</li>
            <li class="collection-item">Identifies two unique tasks (S1 and S2) with different starting points and targets on the map.</li>
        </ul>
        <b>User</b>
        <p>The available users in the eye movement data.</p>
		
        <b>Visualization</b>
        <p>The available methods with which the eye movement data can be visualized.</p>
		<ul> Notes:
			<li>- The Data Table only works for a single user. </li>
			<li>- The AOI Rivers only works for all users. </li>
		</ul>
		
        <b>Number of AOIs</b>
        <p>The number of Areas Of Interest (AOIs) are applied to the Transition Graph, AOI map and AOI rivers.</p>
		<ul> Notes:
			<li>- The Transition Graph may show fewer AOIs by removed nodes from the visualization weak or no edges attached to it.</li>
		</ul>
		
        <b>Visualization methods</b>
        <p>Data table: The data table method produces a table that can be sorted, ascending and descending, by each variable. The data table cannot be displayed in combination with other visualizations.</p>
        <p>Gaze Plot: The gazeplot method plots the saccades as lines and fixations as circles on the stimulus. The size of the circles represent the relative fixation duration.</p>
        <p>Static Visual Attention Map (Heat Map): The static visual attention map is a heat map that indicates the relative fixation duration with colors on the stimulus. The colors range from red, areas that are fixated on the most to blue, areas that fixated on the least.</p>
        <p>Static Visual Attention Map + Heat Map: A visualization combining the Static Visual Attenion Map and the Gaze Plot in one graph.</p>
        <p>Transition Graph: The transition graph method is a weighted directed graph in which each node represents an area of interest and each edge represents the strength of transitions between the AOIs. The size of each edge represents how much participants relatively shift from one AOI to the other.</p>
        <p>Gaze Stripes: The Gaze Stripes displays strips of images that show fixations of users in sequential order.</p>
        <p>AOI Map: The AOI Map displays AOIs on the stimulus map by means of the k-nearest neighbour algorithm. It is particularly useful to display in combination with the Transition Graph and AOI Rivers.</p>
        <p>AOI Rivers: The AOI rivers illustrate a plot in which the AOIs are represented as a so-called river, where its thickness at a particular moment in time is the total number of unique users fixated on that area over time. The visualization can only be displayed for all users, where time is normalized. </p>
        <footer></footer>
    </div>
</body>

</html>
