<html>
        <head>
            <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
        crossorigin="anonymous"></script>
            <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"
        crossorigin="anonymous"></script>
            <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Eye Movement Visualization Tool</title>
        </head>

        <body>
          <div class="container">
                <header>

                </header>
				    <H1>Eye Movement Visualization Tool</H1>
            <a href="{{url_for('help')}}">Help</a><p>
            <form action="" method="post">
              <label>Map</label>
               <div class="input-field col s12 m4">
               <select class="browser-default" name="MapID">
                 <option value="" disabled selected>Choose your option</option>
                 {% for Item in LISTS[1] %}
                    <option value= "{{Item}}">{{Item}}</option>"
                    {% endfor %}
               </select>
             </div>


              <label>User</label>
              <div class="input-field col s12 m4">
               <select class="browser-default" name="UserID">
                 <option value="ALL">ALL</option>
                 {% for Item in LISTS[0] %}
                    <option value= "{{Item}}">{{Item}}</option>"
                    {% endfor %}
               </select>
             </div>

             <label>Visualization</label>
               <div class="input-field col s12 m4">
               <select class="browser-default" name="VisID">
                 <option value="" disabled selected>Choose your option</option>
                 {% for Item in LISTS[2] %}
                    <option value= "{{Item}}">{{Item}}</option>"
                    {% endfor %}
               </select>
             </div>
                <input type="submit" value="submit"/>

              </form>
                {% if session %}
                {{ session["UserID"] }} , {{ session["MapID"] }} , {{ session["VisID"] }} <p>
                {{ session["Vis1_out"][0]|safe}}{{ session["Vis1_out"][1]|safe}}
                {% endif %}

                </main>

                <footer>
                </footer>
              </div>
                <script>
                document.addEventListener('DOMContentLoaded', function() {
                  var elems = document.querySelectorAll('select');
                  var instances = M.FormSelect.init(elems, options);
                });
              </script>
        </body>
</html>
