<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eye Movement Visualization Tool</title>
</head>

<body>
  <div class="#b2dfdb teal lighten-4" style="float:left; width: 35%; height: 100%">
    <header>
      <h3 align="center">Eye Movement Visualization Tool</h1>
        <div class="links" align="center">
          <a href="{{url_for('help')}}">Help</a>
        </div>
    </header>
    <div style="padding: 10px; align-items: center;">
      <form action="" method="post" style="display: initial">
        <p>Click<a href="{{url_for('upload')}}"> here </a> to upload data instead.</p>
        <br>
        <label class="black-text">Map</label>
        <div class="input-field col s12">
          <select name="MapID">

            {% if session %}
            {% for Item in LISTS[1] %}
            {% if Item ==  session["MapID"]%}
            <option value="{{Item}}" selected>{{Item}}</option>"
            {% else %}
            <option value="{{Item}}">{{Item}}</option>"
            {% endif %}
            {% endfor %}

            {% else %}
            <option value="" disabled selected>Choose your option</option>
            {% for Item in LISTS[1] %}
            <option value="{{Item}}">{{Item}}</option>"
            {% endfor %}
            {% endif %}
          </select>
        </div>

        <!-- Switch -->
        <div class="switch">
          <label class="black-text">
            Grayscale
            <input type="checkbox" name="grayscale">
            <span class="lever"></span>
        </div>
        <br>
        <label class="black-text">User</label>
        <div class="input-field col s12">
          <select name="UserID">
            {% if session %}
            {% for Item in LISTS[0] %}
            {% if Item ==  session["UserID"]%}
            <option value="{{Item}}" selected>{{Item}}</option>"
            {% else %}
            <option value="{{Item}}">{{Item}}</option>"
            {% endif %}
            {% endfor %}

            {% else %}
            <option value="" disabled selected>Choose your option</option>
            {% for Item in LISTS[0] %}
            <option value="{{Item}}">{{Item}}</option>"
            {% endfor %}
            {% endif %}
          </select>
        </div>

        <label class="black-text">Visualization</label>
        <div class="input-field col s12 m6">
          <select class="icons" name="VisID" multiple>
            <option id="Data Table" value="Data Table" data-icon="static/data_table.png" class="left">Data Table (standalone option only)</option>
            <option id="Gaze Plot" value="Gaze Plot" data-icon="static/gaze_plot.png" class="left">Gaze Plot</option>
            <option id="Heatmap" value="Heatmap" data-icon="static/heatmap.png" class="left">Visual Attention Map (Heat Map)</option>
            <option id="Heatmap + Gaze Plot" value="Heatmap + Gaze Plot" data-icon="static/heat_gaze.png" class="left">Visual Attention Map + Gaze Plot</option>
            <option id="Transition Graph" value="Transition Graph" name="VisID" data-icon="static/transition_graph.png" class="left">Transition Graph</option>
            <option id="Gaze Stripes" value="Gaze Stripes" data-icon="static/gaze_stripes.png" class="left">Gaze Stripes</option>
            <option id="AOI Rivers" value="AOI Rivers" data-icon="static/AOI_rivers.png" class="left">AOI Rivers (all users only)</option>
          </select>
        </div>
        <label class="black-text">Number of AOIs</label>
        <p class="range-field">
          <input type="range" name="AOInum" id="test" min="3" max="20" />
        </p>
        <input type="submit" value="submit" />
    </div>
  </div>

  <div style="float: right; width: 65%; height: 100%; text-align:center; justify-content: center; align-items: center; overflow: scroll; vertical-align: middle">
    <div id="panel" style="margin:20px">
      <!-- <a value="color" class="#b2dfdb teal lighten-4 lighten-5 btn"></a>
      <a value="grayscale" class="#b2dfdb teal lighten-4 lighten-5 btn"></a> -->
    </div>
    <div style="display: inline-block;">
      {% if Graph %}
      {{ Graph[0] | safe }} {{ Graph[1] | safe  }}
      {% else %}
      {{text}}
      {% endif %}
      <div>
      </div>
      </form>

      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        $(document).ready(function() {
          $('select').formSelect();
        });
      </script>
</body>

</html>
