<html>
        <head>
        </head>
         
        <body>
                <header>
                </header>
                 
                <nav>
                </nav>

                <main>
				<H1>Home Page Eye tracking Vis</H1>
                <a href="{{url_for('help')}}">Help</a><p>
                <form action="" method="post">
                   User ID:
	               <input type="text" name="UserID" />
                    Map ID:
	                <input type="text" name="MapID" />
                    Vis Method:
	                <input type="text" name="VisID" />
                    <input type="submit" value="submit"/>

                </form>
                {% if session %}
                {{ session["UserID"] }} , {{ session["MapID"] }} , {{ session["VisID"] }}
                {% endif %}

                </main>
                 
                <footer>
                </footer>
        </body>
</html>