<html>
        <head>
        </head>
         
        <body>
                <header>
                </header>
                 
                <nav>
                </nav>

                <main>
				<H1></H1>
				<button type="button"> File</button>
				<button type="button">Method 1</button>
				<button type="button">Method 2</button>
				<button type="button">Method 3</button>
				<button type="button">Method 4</button>
				<img src="{{ user_image }}" alt="Test_Table">
                </main>
                 
                <footer>
                </footer>
        </body>
</html>