<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Eye Movement Visualization Tool</title>
</head>

<body>
  <div class="container">
    <h1 align=center>Upload Files</h1>
	<a href="{{url_for('home')}}">Go back to home</a><br>
    <form method="post" enctype="multipart/form-data">
      <p>
        <label>
          <span id="submit-1">Dataset (CSV file):</span>
          <input type="file" id="submit-2" name="dataset" accept=".csv, .xml">
        </label>
      </p>
      <p>
        <label>
          <span id="submit-3">Stimuli (zip file containing images):</span>
          <input type="file" id="submit-4" name="stimuli" accept=".zip">
        </label>
      </p>
        <i>By hitting the upload button you agree to understanding the privacy statement and accepting  it.<br></i>
      <input type="submit" value="submit">
    </form>
      <br><br>
      <h4>Formatting guidelines</h4>
      Both the .zip and the .csv file need to be structured specifically. following the upcoming guidelines.<br>
      There is no way to edit the files after uploading. Make sure they are in the right formating beforehand.<br>
      The .csv file needs to have a set of columns with the first row being titles.<br>
      Columns from left to right.<br>
      <b>*Timestamp:</b>   Time stamp in second can be any positive integer<br>
      <b>*StimuliName:</b>    Full file path & FileName for the image that it corresponds to (including extension)<br>
      <b>*FixationIndex:</b>    can be any string<br>
      <b>*FixationDuration:</b>    Time length in second can be any positive integer<br>
      <b>*MappedFixationPointX:</b>    x coordinates can be any integer (left is x 0)<br>
      <b>*MappedFixationPointY:</b>    y coordinates can be any integer (top is y 0)<br>
      <b>*user:</b> Name of the user can be any string<br>
      <b>*description:</b> Personal comments NOT used by our code. may be empty <br>
        <br><br>
      The .zip file needs to contain an image for each StimuliName used.<br>
      If all images are kept in the top folder you do not need to add a file path to the  StimuliName column in .csv<br>
      .jpg and .png have been tested other file formats may work but are not supported<br>

      <H4>Privacy statement</H4>
Any data upload via this tool will be sent to our service via NON secure connection.<br>
Data is NOT encrypted when stored on our servers<br>
Data is NOT protected on our servers and can be accessed by our engineers. <br>
Data is deleted periodically and we are not responsible for any loss of data.<br>
There is no way to download the data from our service.<br>



  </div>
</body>

</html>
