<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Eye Movement Visualization Tool</title>
</head>

<body>
  <div class="container">
    <h1 align=center>Upload Files</h1>
	<a href="{{url_for('home')}}">Go back to home</a><br>
    <form method="post" enctype="multipart/form-data">
      <p>
        <label>
          <span id="submit-1">Dataset (CSV file):</span>
          <input type="file" id="submit-2" name="dataset" accept=".csv, .xml">
        </label>
      </p>
      <p>
        <label>
          <span id="submit-3">Stimuli (zip file containing images):</span>
          <input type="file" id="submit-4" name="stimuli" accept=".zip">
        </label>
      </p>
      <input type="submit" value="submit">
    </form>
  </div>
</body>

</html>
