<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Eye Movement Visualization Tool</title>
</head>

<body>
  <div class="container">
    <h1 align=center>Upload Files</h1>
	<a href="{{url_for('home')}}">Go back to home</a><br>
    <form method="post" enctype="multipart/form-data">
      <p>
        <label>
          <span id="submit-1">Dataset (CSV file):</span>
          <input type="file" id="submit-2" name="dataset" accept=".csv, .xml">
        </label>
      </p>
      <p>
        <label>
          <span id="submit-3">Stimuli (zip file containing images):</span>
          <input type="file" id="submit-4" name="stimuli" accept=".zip">
        </label>
      </p>
	    <input type="submit" value="Upload">
		<i style="font-size:11;" >By clicking the upload button you agree to understanding the privacy statement and accept it <br></i>

    </form>
      <h4>Formatting guidelines</h4>
	  <p>
      Both the .zip and the .csv file need to be structured specifically. following the upcoming guidelines.<br>
      There is no way to edit the files after uploading. Make sure they are in the right formating beforehand.<br>
      The .csv file needs to have a set of columns with the first row being titles.<br>
      </p>
	  
	  <ul>
		<li>Required columns:</li>
		<li><b>*Timestamp:</b> Time stamp in second can be any positive integer</li>
		<li><b>*StimuliName:</b> Full file path & FileName for the image that it corresponds to (including extension)</li>
		<li><b>*FixationIndex:</b> Can be any string</li>
		<li><b>*FixationDuration:</b> Time length in second can be any positive integer</li>
		<li><b>*MappedFixationPointX:</b> x-coordinates can be any integer (left is x 0)</li>
		<li><b>*MappedFixationPointY:</b> y-coordinates can be any integer (top is y 0)</li>
		<li><b>*user:</b> Name of the user can be any string</li>
		<li><b>*description:</b> Personal comments NOT used by our code. may be empty</li>
	  </ul>
        <br>
      The .zip file needs to contain an image for each StimuliName used.<br>
      If all images are kept in the top folder you do not need to add a file path to the  StimuliName column in .csv<br>
      .jpg and .png have been tested other file formats may work but are not supported<br>

      <h4>Privacy statement</h4>
	  <ul>
		<li>Any data uploaded via this tool will be sent to our service via a NON-secure connection.</li>
		<li>Data is NOT encrypted when stored on our servers.</li>
		<li>Data is NOT protected on our servers and can be accessed by our engineers.</li>
		<li>Data is deleted periodically and we are not responsible for any loss of data</li>
		<li>There is no way to download the data from our service.</li>
	  </ul>
  </div>
</body>

</html>
